@tailwind base;
@tailwind components;
@tailwind utilities;

.main-div {
    @apply w-screen h-screen grid grid-rows-2 bg-neutral-600 dark:bg-neutral-900 bg-back dark:bg-dark-back bg-center
}

.half-div {
    @apply flex items-center
}

.clock {
    @apply p-4 mx-auto w-min text-9xl font-bold rounded-xl dark:text-neutral-500 select-none
}

.dialog {
    @apply h-44 w-96 top-[30%] absolute mx-auto left-0 right-0 p-2 grid grid-rows-4 grid-cols-12 rounded-xl backdrop-blur-lg border-0 bg-neutral-50/5 select-none
}

.dialog-text {
    @apply w-full h-full outline-none rounded-md bg-neutral-400/75 hover:brightness-110 text-xl
}

.dialog-button {
    @apply rounded-lg px-2 h-full text-2xl
}

.close-button {
    @apply float-left text-red-900 bg-red-400/60
}

.save-button {
    @apply float-right text-green-900 bg-green-300/40
}

.tabs {
    @apply grid grid-rows-2 grid-cols-5 p-4 m-auto rounded-xl select-none
}

.tab-item {
    @apply p-1 m-1 w-28 h-32 flex flex-col rounded-lg outline-none
}

.tab-item > .imgh {
    @apply mx-auto mt-[-16px] w-12 h-12 p-3 rounded-full
    bg-neutral-600 dark:bg-neutral-800 text-neutral-900 dark:text-neutral-300
}

.tab-item > label {
    @apply mx-auto mt-auto mb-2 max-w-[105px] 
    font-semibold text-lg text-center 
    text-neutral-800 dark:text-neutral-400 
    break-words cursor-pointer
}

.tab-item > div > button {
    @apply h-full w-8 p-[6px] rounded-full 
    text-neutral-800 dark:text-neutral-300 hover:bg-neutral-400/50 
    active:bg-neutral-500/50 dark:hover:bg-neutral-500/50 dark:active:bg-neutral-600/50
}

.tile1 {
    @apply backdrop-blur-xl backdrop-brightness-110
}

.tile2 {
    @apply bg-neutral-500/50 hover:bg-neutral-400/50 active:bg-neutral-500/75 
    dark:bg-neutral-700/50 dark:hover:bg-neutral-600/50 dark:active:bg-neutral-700/75 
    cursor-pointer
}

.folder {
    @apply mx-2 pb-2 pt-1 mb-2 rounded 
    shadow-md select-none 
    bg-neutral-500/50 dark:bg-neutral-600/50
}

.folder>#lbl {
    @apply mb-2 ml-2 
    text-neutral-300 text-xl
}

.bookmark {
    @apply mx-2 pt-1 rounded-md shadow-md mb-2 last:mb-0 h-[5.5rem] 
    select-none 
    bg-neutral-500/50 hover:bg-neutral-400/50 active:bg-neutral-500/75 dark:bg-neutral-600/50 
    dark:hover:bg-neutral-500/50 dark:active:bg-neutral-600/75 dark:border-neutral-600/75 border
}

.bookmark > div {
    @apply float-left first:mr-2 first:ml-1 first:mt-1 last:w-52
}

.bookmark > div > div {
    @apply overflow-hidden first:max-h-14 last:max-h-5 first:text-lg 
    text-neutral-300 first:font-semibold last:text-sm last:text-neutral-400 last:font-light
}

.bookmark > div > input {
    @apply hidden
}

.bookmark > div > img {
    @apply even:hidden w-12 h-12 ml-1
}

#t_main {
    @apply grid grid-cols-4 gap-1 rounded text-lg text-neutral-300
}

#t_main > p {
    @apply font-medium outline-none
}

::-webkit-scrollbar {
    display: none;
}